@model List<string>

<h1>Categories</h1>
<ul class="list-group">
	@foreach (var category in Model)
	{
		<li class="list-group-item">
			<a href="@Url.Action("Category", "Home", new { name = category })">
				@category
			</a>
		</li>
	}
</ul>